<header>
     
    <nav  class="sub"><span>MUSIFY</span> |
        <% if(locals.user) {%>
            <span><a href="/users/profile"><%=user.name%></a></span>
            <span><a href="/users/sign-out">Sign Out</a></span>
        <%}else{%>
            <span><a href="/users/sign-in">Sign In</a></span>
            <span><a href="/users/sign-up">Sign Up</a></span>
        <%}%>
    </nav>
</header>