<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN IN</title>
</head>
<body>
    <%-include('./header.ejs'); %>
    
    <form action="/users/create-session" method="post">
        <input type="email" name="email" placeholder="Eamil" required> 
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" >Sign In</button>
    </form>
    
    <%-include('./footer.ejs'); %>
</body>
</html>