body {
  margin: 5%;
  margin-top: 0;
  padding-top: 0;
  background-color: darkcyan;
  font-family: Arial, Helvetica, sans-serif;
}

body h1 {
  background-color: #FFA101;
  padding: 2%;
}

body h4 {
  background-color: black;
  color: white;
  padding: 1%;
}

body p {
  background-color: white;
  font-weight: 500;
  padding: 1%;
  margin-bottom: 0;
}

body .add-song {
  display: flex;
  flex-direction: row;
  padding: 1%;
  background-color: white;
}

body .add-song form input {
  padding: 5px;
  border: none;
  box-shadow: 4px 4px 10px 0px grey;
  font-size: medium;
}

body .add-song form button {
  padding: 5px;
  border: none;
  box-shadow: 4px 4px 10px 0px grey;
  font-size: medium;
  cursor: pointer;
}
