body footer .footer-container {
  background-color: black;
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  height: 50px;
  align-items: center;
}

body footer .footer-container a {
  color: aliceblue;
}
